{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>Sign In</h1>
        </div>

        <div class="row h-200 justify-content-center align-items-center">
            <div class="col-6">
                {{ render_form(form) }}
            </div>

            <div class="col-6 ml-3">
                <p>New User? <a href="{{ url_for('auth.register') }}">Click to register!</a></p>
                <p>Forget Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset Password</a></p>
            </div>
        </div>
    </div>
{% endblock app_content %}