<h3 class="text-primary">
    <a href="{{ url_for('main.show_post', post_id=post.id) }}">{{ post.title }}</a>
    <span >
        {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
            </span>
        {% endset %}
        <small>
            By:
            {{ _('%(username)s', username=user_link) }}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(30) }}" />
            </a>
        </small>
    </span>
</h3>
<p>
    <span id="post{{ post.id }}">
        {{ post.body|striptags|truncate }}
    </span>
    <small><a href="{{ url_for('main.show_post', post_id=post.id) }}">Read More</a></small>
    <!--
    {% if post.language and post.language != g.locale %}
    <br><br>
        <span id="translation{{ post.id }}">
            <a href="javascript:translate(
            '#post{{ post.id }}',
            '#translation{{ post.id }}',
            '{{ post.language }}',
            '{{ g.locale }}');">{{ 'Translate' }}</a>
        </span>
    {% endif %}
    -->
    <p>
        <small>
            Comments: <a href="{{ url_for('main.show_post', post_id=post.id) }}#comments">{{ post.comments|length }}</a>&nbsp;&nbsp;
            Category: <a href="{{ url_for('main.show_category', category_id=post.category_id) }}">{{ post.category.name }}</a><br>
            <span class="float-right">{{ moment(post.timestamp).format('LL') }}</span>
        </small>
    </p>
</p>
<hr>
