{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}Microblog{% endblock %}</title>
            <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect_blue.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        {% endblock head %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            {{ render_nav_item('main.index', 'Home') }}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if current_user.is_anonymous %}
                                {{ render_nav_item('auth.login', 'Login') }}
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        Admin <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ url_for('admin.manage_post') }}">Post</a>
                                        <a class="dropdown-item" href="{{ url_for('admin.manage_category') }}">Category</a>
                                        <a class="dropdown-item" href="{{ url_for('admin.manage_comment') }}">Comment</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        New <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ url_for('main.new_post') }}">Post</a>
                                        <a class="dropdown-item" href="{{ url_for('main.new_category') }}">Category</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ url_for('main.messages') }}" class="nav-link">
                                        Messages
                                        {% set new_messages = current_user.new_messages() %}
                                        <span id="message_count" class="badge badge-pill badge-danger" style="display: {% if new_messages %}show
                                                                 {% else %}none {% endif %}">
                                            {{ new_messages }}
                                        </span>
                                    </a>
                                </li>
                                {{ render_nav_item('main.user', 'Profile', username=current_user.username) }}
                                {{ render_nav_item('auth.logout', 'Logout') }}
                            {% endif %}
                        </ul>
                        <!-- 生产环境的配置无法运行 elasticsearch，暂时注释掉
                        {% if g.search_form %}
                            <form class="form-inline my-2 my-lg-0" method="get"
                                    action="{{ url_for('main.search') }}">
                                <span type="search">
                                    {{ g.search_form.q(size=20, class='form-control mr-sm-2',
                                        placeholder=g.search_form.q.label.text) }}
                                </span>
                            </form>
                        {% endif %}
                        -->
                    </div>
                </div>
            </nav>
        {% endblock nav %}


        <main class="container">
            {% block content %}
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% if current_user.is_authenticated %}
                        {% with tasks = current_user.get_tasks_in_progress() %}
                            {% if tasks %}
                                {% for task in tasks %}
                                    <div class="alert alert-success" role="alert">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ task.description }}
                                        <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}

                    {% block app_content %}{% endblock app_content %}
                </div>
            {% endblock content %}

            <footer class="text-center">
                {% block footer %}
                    <small> &copy; 2019 <a href="https://www.zhangwei.org.cn/" title="Zhang Wei">Zhang Wei</a> /
                        <a href="https://github.com/zhangwei1989" title="Zhang Wei">GitHub</a>
                        <a class="float-right" id="bottom" href="#" title="Go Top">&uarr;</a>
                    </small>
                {% endblock %}
            </footer>
        </main>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
            {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}

            <script>
                function translate(sourceElem, destElem, sourceLang, destLang) {
                    $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
                    $.post('/translate', {
                        text: $(sourceElem).text(),
                        source_language: sourceLang,
                        dest_language: destLang
                    }).done(function(response) {
                        $(destElem).text(response['text'])
                    }).fail(function() {
                        $(destElem).text("{{ 'Error: Could not contact server.' }}");
                    });
                }

                $(function() {
                    var timer = null;
                    var xhr = null;
                    $('.user_popup').hover(
                        function(event) {
                            var elem = $(event.currentTarget);
                            timer = setTimeout(function() {
                                timer = null;
                                xhr = $.ajax(
                                    '/user/' + elem.first().text().trim() + '/popup/').done(
                                        function(data) {
                                            xhr = null;
                                            elem.popover({
                                                trigger: 'manual',
                                                html: true,
                                                animation: false,
                                                container: elem,
                                                content: data
                                            }).popover('show');
                                            flask_moment_render_all();
                                        }
                                    );
                            }, 1000);
                        },
                        function(event) {
                            var elem = $(event.currentTarget);
                            if (timer) {
                                clearTimeout(timer);
                                timer = null;
                            }
                            else if (xhr) {
                                xhr.abort();
                                xhr = null;
                            }
                            else {
                                elem.popover('destroy');
                            }
                        }
                    )
                });

                function set_message_count(n) {
                    $('#message_count').text(n);
                    $('#message_count').css('display', n ? 'show' : 'none');
                }

                function set_task_progress(task_id, progress) {
                    $('#' + task_id + '-progress').text(progress);
                }

                {% if current_user.is_authenticated %}
                $(function() {
                    var since = 0;
                    setInterval(function() {
                        $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                            function(notifications) {
                                for (var i = 0; i < notifications.length; i++) {
                                    switch (notifications[i].name) {
                                        case 'unread_message_count':
                                            set_message_count(notifications[i].data);
                                            break;
                                        case 'task_progress':
                                            set_task_progress(
                                                notifications[i].data.task_id,
                                                notifications[i].data.progress);
                                            break;
                                    }
                                    since = notifications[i].timestamp;
                                }
                            }
                        );
                    }, 5000);
                });
                {% endif %}
            </script>
        {% endblock %}
    </body>
</html>



