{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Category: {{ category.name }}</h1>
        <p class="text-muted">{{ category.posts|length }} posts</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
            {% if posts %}
                <div class="page-footer">{{ render_pagination(pagination, category_id=category.id) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar pl-3">
            {% include "_sidebar.html" %}
        </div>
    </div>
{% endblock %}
