{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}
    <div class="page-header">
        <h1 class="display-3">Microblog</h1>
        <h4 class="text-muted">&nbsp;to be the real you</h4>
    </div>

    <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
            {% if posts %}
                <div class="page-footer">{{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar pl-3">
            {% include "_sidebar.html" %}
        </div>
    </div>
{% endblock %}
