{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block app_content %}
    <div class="row h-100 page-header justify-content-center align-items-center">
        <h1>Messages</h1>
    </div>

    {% for message in messages %}
        <table class="table">
            <tr valign="top">
                <td width="70px">
                    <a href="{{ url_for('main.user', username=message.author.username) }}">
                        <img src="{{ message.author.avatar(30) }}" />
                    </a>
                </td>
                <td>
                    {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=message.author.username) }}">{{ message.author.username }}</a>
                    </span>
                    {% endset %}
                    {{ _('%(username)s said %(when)s', username=user_link, when=moment(message.timestamp).fromNow()) }}
                    <br>
                    <br><span>{{ message.body }}</span>
                </td>
            </tr>
        </table>
    {% endfor %}
    {% if messages %}
        <div class="page-footer">{{ render_pager(pagination) }}</div>
    {% endif %}
{% endblock app_content %}